body {
  background: #111;
  color: white;
  width: 900px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  padding: 25px;
}

h1 {
  font-weight: normal;
}

textarea {
  background: black;
  color: #9bd7b8;
  font-family: Menlo, monospace;
  font-size: 12px;
  border: 1px solid #aaa;
  width: 900px;
  display: block;
  margin: 0 0 15px 0;
}

button {
  position: absolute;
  right: 30px;
  top: 25px;
  padding: 10px 25px;
  border-radius: 15px;
  background: #e1e1e1;
}

canvas {
  background: black;
}
